
<% if obj.errors.any? %>
<div class="poruka">
	 <%= pluralize(obj.errors.count, "error")%> found:
<ul>
	<% obj.errors.full_messages.each do |msg|%>
	<li><%= msg %></li>
	<%end%>
</ul>
<%end%>
</div>
