<nav class="navBar">
            <div class="logo"><%= link_to "ALPHA BLOG", root_path, class: "logoRB"%></div>
         
          <ul class="linkovi">
            <li class="ponudiPrijevoz"><%= link_to "New article", new_article_path, class: "logoRB"%></li>
            <li class="RegLog" onclick="myhref('file:///C:/Users/Cavkic/Desktop/%C5%A1toper.ba/register.html');" > Registriraj se</a></li>
            <li class="RegLog" onclick="myhref('file:///C:/Users/Cavkic/Desktop/%C5%A1toper.ba/prijava.html');">Prijava</li>
          </ul>
</nav>